body {
    background-color: powderblue;
}

img {
    border: 5px solid rgb(11, 30, 108);
    border-radius: 150px;
    width: 270px;
    margin: 70px;
    margin-bottom: 0px;
    float: left;
}

a {
    text-decoration: none;
}

.wiki {
    text-align: right;
    margin-right: 50px;
    margin-top: 50px;
    font-size: 20px;
}

div {
    text-align: right;
    margin-top: 25px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 500pt;
}

.missile {
    text-align: right;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 60pt;
    float: left;
}
    
.dis {
    margin-top: 80px;
    margin-left: 300pt;
    margin-right: 50pt;
    font-size: 18px;
    font-family: monospace;
}

.kalam {
    font-size: 15px;
    font-family:cursive;
    margin-left: 300pt;
    margin-top: 50pt;
}